.App {
  text-align: center;
}

nav ul {
  display: flex;
  background-color: rgb(42, 49, 131);
  margin-block-start: 0;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

nav ul li {
  list-style-type: none;
  margin-right: 16px;
  
}
a{
  color: #fff;
  text-decoration: none;
}



.todo_container{
  border: 1px solid rgb(229, 224, 224);
  width: 40%;
  margin: auto;
  background-color: rgb(255, 254, 240);
}

.todo_ul li{
  margin-top: 10px;
  margin-right: 15px;
  text-align: left;
  background-color: aliceblue;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
}

.ctr_btn{
  background: transparent;
  border: 1px solid rgb(164, 195, 118);
  margin-right: 5px;
  border-radius: 5px;
}

input{
  width: 70%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(37, 35, 35);
  margin: 20px 0px 15px 0px;
  padding: 10px;
}

button{
  padding: 5px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

