.navbar_div{
    /* border: 1px solid red; */
    background: rgb(248, 246, 246);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.filter_div{
    width: 30%;
}
.login_div{
    width: 10%;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.Content_div{
    display:flex;
    flex-wrap: wrap;
}
.album_div{
    width: 25%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.album_div>div{
    width: 50%;
    display: flex;
    justify-content: space-between;
}
.poster{
    width: 50%;
}


.head_title{
    text-align: center;
}